@import url('https://fonts.googleapis.com/css?family=Heebo');





.login_form > h1 {
    position: absolute;
    width: 77px;
    height: 40px;
    left: 236px;
    top: 272px;
    
    font-family: Heebo;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 40px;
    /* identical to box height, or 143% */
    
    
    color: #FFFFFF;
}

.email {
    position: absolute;
    width: 368px;
    height: 50px;
    left: 115px;
    top: 360px;
    
    background: rgba(0, 0, 0, 0.219);   
    border-radius: 4px;

}

.email-label {
    position: absolute;
    width: 30px;
    height: 16px;
    left: 131px;
    top: 368px;

    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    color: #FFFFFF;

    opacity: 0.5;
    transition: 0.2s ease all;
}
.password {
    position: absolute;
    width: 368px;
    height: 50px;
    left: 115px;
    top: 436px;
    
    background: rgba(0, 0, 0, 0.219);
    backdrop-filter: blur(2px);
    border-radius: 4px; 
}
.password-label {
    position: absolute;
    width: 34px;
    height: 16px;
    left: 131px;
    top: 444px;
    
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    
    
    color: #FFFFFF;
    
    opacity: 0.5;
}
.login_form > img {
    position: absolute;
    left: 120px;
    top: 292px;


}
.login-body {
    background-image: url("./assets/Background-image.png");
    height: 900px;
    background-position:top;
    background-repeat: no-repeat;
    background-size:cover;
    outline: none;


}

.submit_btn {
    position: absolute;
    width: 85px;
    height: 36px;
    left: 386px;
    top: 446px;

    background: #FFFFFF;
    border-radius: 44px;
    position: absolute;


    font-family: Heebo;
    font-style: normal;
    font-weight: 800;

    line-height: 20px;
    /* identical to box height, or 125% */


    color: #B22E6F;
}

.login_form > h1 {
    left: 250px;
    top: 290px;
    font-size: 35px;
}


@media screen and (max-width: 480px)  {
    .email {
        width: 340px;
        left: 15px;
    }
    .email-label {
        left: 25px;
    }
    .password {
        width: 340px;
        left: 15px;
    }
    .password-label {
        left: 25px;
    }
    .login_form > img{
        left: 15px;
        width: 130px;
    }
    .submit_btn {
        left: 260px;
        top: 442px;        
    }
    .login_form > h1 {
        left: 170px;
        top: 296px;
        font-size: 40px;
    }

 }