body {

    background-image: url("./assets/Background-image.png");
    height: 900px;
    background-position:top;
    background-repeat: no-repeat;
    background-size:cover;
    outline: none;
}


.space {
    border: 30px;
}

.rspace {
    margin-top: 200px;
}

.container { 
    padding: 0px;
  }